Django==4.2.*
boto3
dj-database-url
dj-static
django-dsfr==0.12.*
django-markdownify
django-sass-processor
django-storages
djlint
factory-boy
gunicorn
# https://github.com/lundberg/respx/pull/278
httpx<0.28.0
libsass
pre-commit
psycopg2-binary
python-dotenv
respx
ruff
wagtail==5.*
wagtailmenus
wagtail-modeladmin
whitenoise
