{% load static %}
<div class="fr-container fr-py-9w fr-my-12w"
     style="background-color:var(--background-alt-grey)">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0">
            <img src="{% static 'artwork/contact.svg' %}"
                 class="fr-responsive-img"
                 alt=""/>
        </div>
        <div class="fr-col-12 fr-col-md-5 fr-col-offset-md-1 fr-px-6w fr-py-2w fr-px-md-0 fr-py-md-0">
            <h2>Vous souhaitez...</h2>
            <p class="fr-mb-1w">Déployer un service numérique sur votre territoire ?</p>
            <hr class="fr-py-1v">
            <p class="fr-my-1w">Accéder aux données de la Plateforme de l'inclusion ?</p>
            <hr class="fr-py-1v">
            <p class="fr-my-1w">Développer un autre partenariat entre nos organisations ?</p>
            <hr class="fr-py-1v fr-mb-2w">
            <a class="fr-btn fr-btn--primary fr-btn--lg"
               href="https://tally.so/r/n0VqyP"
               target="_blank">Nous contacter</a>
        </div>
    </div>
</div>
