{% load wagtailimages_tags %}
{% image block.value.bg_image original as bg_img %}
<div class="hero"
    {% if bg_img.url %}
        style="background: url({{ bg_img.url }}) {{ block.value.bg_color }} no-repeat center"
    {% else %}
        style="background-color: {{ block.value.bg_color }}"
    {% endif %}
    >
    {% with self.get_ancestors|slice:"1:" as parent_pages %}
        {% if parent_pages %}
            {% include "cms/breadcrumb.html" %}
        {% endif %}
        <div class="fr-container {% if parent_pages %}fr-pb-14w{% else %}fr-py-8w{% endif %}">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col fr-col-12 fr-col-md-6">
                    <h1>{{ block.value.title }}</h1>
                    {% if block.value.text %}<p>{{ block.value.text }}</p>{% endif %}
                    {% if block.value.cta_link and block.value.cta_label %}
                        <a class="fr-btn fr-btn--primary fr-btn--lg"
                           href="{{ block.value.cta_link }}">{{ block.value.cta_label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endwith %}
</div>
