{% load wagtailimages_tags %}
{% if block.value.title %}<h5>{{ block.value.title }}</h5>{% endif %}
{% if block.value.url %}
    <div class="fr-enlarge-link">
        <a href="{{ block.value.url }}">
            {% image block.value.image original class="fr-responsive-img" alt=block.value.alt %}
            {% if block.value.caption %}<div class="fr-content-media__caption">{{ block.value.caption }}</div>{% endif %}
        </a>
    </div>
{% else %}
    <div>
        {% image block.value.image original class="fr-responsive-img" alt=block.value.alt %}
        {% if block.value.caption %}<div class="fr-content-media__caption">{{ block.value.caption }}</div>{% endif %}
    </div>
{% endif %}
