{% load wagtailcore_tags wagtailimages_tags %}
{% image block.value.bg_image original as bg_img %}
<div class="{% if bg_img or block.value.bg_color %}fr-py-5w{% endif %}fr-mt-{{ block.value.top_margin }}w fr-mb-{{ block.value.bottom_margin }}w"
     {% if bg_img %} style="background: url({{ bg_img.url }}) {{ block.value.bg_color }} no-repeat center" {% elif block.value.bg_color %} style="background: {{ block.value.bg_color }}" {% endif %}>
    <div class="fr-container">
        {% if block.value.title %}
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-mt-3w">
                    <h2>{{ block.value.title }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="fr-grid-row fr-grid-row--gutters fr-py-3w">
            {% for subblock in block.value.columns %}
                {% if subblock.block_type == 'text' %}
                    <div class="fr-col-12 fr-col-sm">{{ subblock.value|richtext }}</div>
                {% elif subblock.block_type == 'image' %}
                    <div class="fr-col-12 fr-col-sm">{% include "cms/blocks/image.html" with block=subblock %}</div>
                {% elif subblock.block_type == 'video' %}
                    <div class="fr-col-12 fr-col-sm">
                        <h2>{{ subblock.value.title }}</h2>
                        <div class="fr-content-media">
                            <iframe title="{{ subblock.value.title }}"
                                    class="fr-responsive-vid"
                                    src="{{ subblock.value.url }}"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <div class="fr-content-media__caption">{{ subblock.value.caption }}</div>
                        </div>
                    </div>
                {% elif subblock.block_type == 'card' %}
                    <div class="fr-col-12 fr-col-sm">{% include "cms/blocks/card.html" with block=subblock %}</div>
                {% elif subblock.block_type == 'quote' %}
                    <div class="fr-col-12 fr-col-sm">{% include "cms/blocks/quote.html" with block=subblock %}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
