
#btn-menu-services
    z-index: 1752

#menu-services
    position: absolute
    text-align: left
    padding: 3em 1em 1em 1em
    z-index: 1751

    & .menu-services-container
        background: var(--background-default-grey)
        filter: drop-shadow(var(--raised-shadow))

    & li
        & a
            padding: 1em 2em
            & img
                vertical-align: middle
                margin-right: 1em

    & p
        padding: 1em 2em

.service_banner
    background-repeat: no-repeat
    background-position: right top
    background-size: contain

.fr-card__img
    img.avatar-rounded
        border-radius: 50%
        width: 100%
        margin: auto
        max-width: 50%
        aspect-ratio: auto

.fr-header__service-title
    .fr-responsive-img
        width: auto

@media (max-width:64em)
    .service_banner
        background-size: 0

// wagtail specific classes for containers
.responsive-object iframe,
.responsive-object object,
.responsive-object embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
