
#menu-services
    position: absolute
    text-align: left
    padding: 3em 1em 1em 1em

    & .menu-services-container
        background: var(--background-default-grey)
        filter: drop-shadow(var(--raised-shadow))

    & li
        & a
            padding: 1em 2em    
            & img
                vertical-align: middle
                margin-right: 1em

    & p
        padding: 1em 2em

.service_banner
    background-repeat: no-repeat
    background-position: right top

@media (max-width:64em)
    .service_banner
        background-size: 0
