{% load static wagtailcore_tags menu_tags services_tags %}
<div class="fr-follow">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <div class="fr-follow__social">
                    <h2 class="fr-h5">
                        Suivez-nous
                        <br>
                        sur les réseaux sociaux
                    </h2>
                    <ul class="fr-btns-group">
                        <li>
                            <a class="fr-btn--linkedin fr-btn"
                               href="https://www.linkedin.com/company/inclusion-gouv/"
                               target="_blank"
                               title="Page Linkedin de La Plateforme de l'inclusion - nouvelle fenêtre">
                                linkedin
                            </a>
                        </li>
                        <li>
                            <a class="fr-btn--facebook fr-btn"
                               href="https://www.facebook.com/inclusion.gouv/"
                               target="_blank"
                               title="Page Facebook de La Plateforme de l'inclusion - nouvelle fenêtre">
                                facebook
                            </a>
                        </li>
                        <li>
                            <a class="fr-btn--instagram fr-btn"
                               href="https://www.instagram.com/inclusion_gouv/"
                               target="_blank"
                               title="Page Instagram de La Plateforme de l'inclusion - nouvelle fenêtre">
                                instagram
                            </a>
                        </li>
                        <li>
                            <a class="fr-btn--twitter fr-btn"
                               href="https://twitter.com/inclusion_gouv"
                               target="_blank"
                               title="Compte Twitter de La Plateforme de l'inclusion - nouvelle fenêtre">
                                twitter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="fr-footer" id="footer">
    <div class="fr-footer__top">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-sm-2 fr-col-md-2">
                    <h3 class="fr-footer__top-cat">Pages internes</h3>
                    {% main_menu template="menus/footer_menu.html" %}
                </div>
                <div class="fr-col-12 fr-col-sm-2 fr-col-md-2">
                    <h3 class="fr-footer__top-cat">Ressources</h3>
                    {% flat_menu handle="footer_ressources" template="menus/footer_menu.html"  %}
                </div>
                <div class="fr-col-12 fr-col-sm-2 fr-col-md-2">
                    <h3 class="fr-footer__top-cat">Liens externes</h3>
                    {% flat_menu handle="header_tools" template="menus/footer_menu.html"  %}
                </div>
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-6">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-md-4">
                            <h3 class="fr-footer__top-cat">Nos services numériques</h3>
                        </div>
                    </div>
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-md-4">
                            <ul class="fr-footer__top-list">
                                {% services as active_services %}
                                {% for service in active_services %}
                                    <li>
                                        <a class="fr-footer__top-link" href="{% pageurl service %}">{{ service.beta_name }}</a>
                                    </li>
                                    {# create new col every 5 items #}
                                    {% if not forloop.last and forloop.counter|divisibleby:5  %}
                                    </ul>
                                </div>
                                <div class="fr-col-12 fr-col-md-3">
                                    <ul class="fr-footer__top-list">
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <p class="fr-logo">
                    République
                    <br/>
                    Française
                </p>
                <a class="fr-footer__brand-link"
                   href="/"
                   title="Retour à l'accueil du site - La Plateforme de l'inclusion">
                    <img class="fr-footer__logo"
                         src="{% static 'images/logo-plateforme-inclusion-vertical.svg' %}"
                         alt="Logo de la Plateforme de l'inclusion"/>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">
                    Faciliter la vie des personnes en insertion et de celles et ceux qui les accompagnent à travers de nouveaux services publics.
                </p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           target="_blank"
                           href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           target="_blank"
                           href="https://beta.gouv.fr">beta.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            {% flat_menu handle="footer" template="menus/custom_flat_menu_footer.html"  %}
            <div class="fr-footer__bottom-copy">
                <p>
                    Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
    target="_blank">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
</footer>
