{% extends "dsfr/header.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags services_tags %}
{% block brand %}
    <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
        <img src="{% static 'images/logo-plateforme-inclusion-horizontal.svg' %}"
             alt="La Plateforme de l'inclusion"
             class="logo"/>
    </a>
{% endblock brand %}
{% block service_title %}
{% endblock service_title %}
{% block service_tagline %}
{% endblock service_tagline %}
{% block header_tools %}
    <div class="fr-header__tools-links">{% flat_menu handle="header_tools" template="menus/custom_flat_menu.html"  %}</div>
    <button class="fr-btn fr-btn--tertiary fr-nav__btn" aria-expanded="false" aria-controls="menu-services">
        Accéder aux services
    </button>
    <div class="fr-collapse" id="menu-services">
        <div class="menu-services-container">
            <p>
                <strong>Nos services numériques</strong>
            </p>
            <ul>
                {% services as active_services %}
                {% for service in active_services %}
                    <li>
                        <a class="fr-nav__link"
                           {% if service.beta_link %}href="{{ service.beta_link }}" target="_blank"{% else %}href="{% pageurl service %}"{% endif %}>
                            {% if service.logo %}
                                {% image service.logo fill-20x20 alt="" %}
                            {% else %}
                                <img src="{% static 'images/service-missing-logo-20.png' %}" alt="" />
                            {% endif %}
                            {{ service.beta_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock header_tools %}
{% block main_menu %}
    <div class="fr-header__menu fr-modal"
         id="fr-menu-mobile"
         aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button type="button"
                    class="fr-btn--close fr-btn"
                    aria-controls="fr-menu-mobile">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="fr-navigation" aria-label="Menu principal">
                {% main_menu max_levels=2 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
            </nav>
        </div>
    </div>
{% endblock main_menu %}
