{% load static dsfr_tags %}
{% load sass_tags %}
<!doctype html>
<html lang="fr"
      {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        {% block description %}
            <meta name="description" content=""/>
        {% endblock description %}
        {% dsfr_css %}
        {% block extra_css %}
            <link rel="stylesheet" href="/static/dsfr/dist/utility/utility.min.css"/>
            <link href="{% sass_src 'css/style.sass' %}"
                  rel="stylesheet"
                  type="text/css"/>
        {% endblock extra_css %}
        <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}"/>
        <link rel="icon"
              href="{% static 'images/favicon.svg' %}"
              type="image/svg+xml"/>
        <link rel="shortcut icon"
              href="{% static 'images/favicon.ico' %}"
              type="image/x-icon"/>
        <meta name="theme-color" content="#ffffff"/>
        {% block title %}
            <title>
                {% if title %}
                    {{ title }} — La Plateforme de l'inclusion
                {% else %}
                    La Plateforme de l'inclusion
                {% endif %}
            </title>
        {% endblock title %}
    </head>
    <body>
        <div class="fr-skiplinks">
            <nav class="fr-container" aria-label="Accès rapide">
                <ul class="fr-skiplinks__list">
                    <li>
                        <a class="fr-link" href="#content">Accéder au contenu</a>
                    </li>
                    <li>
                        <a class="fr-link" href="#footer">Accéder au pied de page</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% include "blocks/header.html" %}
        {% dsfr_theme_modale %}
        <main id="content">
            {% block content %}
            {% endblock content %}
        </main>
        {% include "blocks/footer.html" %}
        {% if MATOMO_URL %}
            {% if MATOMO_SITE_ID %}
                <!-- Matomo -->
                <script>
                    var _paq = window._paq = window._paq || [];
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    (function() {
                    var u="{{ MATOMO_URL }}";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', '{{ MATOMO_SITE_ID }}']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                    })();
                </script>
                <!-- End Matomo Code -->
            {% elif MATOMO_TAG_MANAGER_CONTAINER %}
                <!-- Matomo Tag Manager -->
                <script>
                    var _mtm = window._mtm = window._mtm || [];
                    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.async=true; g.src='{{ MATOMO_URL }}/js/container_{{ MATOMO_TAG_MANAGER_CONTAINER }}.js'; s.parentNode.insertBefore(g,s);
                </script>
                <!-- End Matomo Tag Manager -->
            {% endif %}
        {% endif %}
        {% dsfr_js %}
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
