{% if beta_last_phase == "success" %}
    <p class="fr-badge fr-badge--success fr-badge--no-icon">Pérennisé</p>
{% elif beta_last_phase == "transfer" %}
    <p class="fr-badge fr-badge--no-icon">Transfert</p>
{% elif beta_last_phase == "acceleration" %}
    <p class="fr-badge fr-badge--purple-glycine fr-badge--no-icon">Accélération</p>
{% elif beta_last_phase == "construction" %}
    <p class="fr-badge fr-badge--warning fr-badge--no-icon">Construction</p>
{% elif beta_last_phase == "investigation" %}
    <p class="fr-badge fr-badge--new fr-badge--no-icon">Investigation</p>
{% endif %}