{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags markdownify %}
{% block title %}
    <title>{{ page.seo_title|default:page.title }} — La plateforme de l'inclusion</title>
{% endblock title %}
{% if page.search_description %}
    {% block description %}
        <meta name="description" content="{{ page.search_description }}" />
    {% endblock description %}
{% endif %}
{% block content %}
    {% if page.banner %}
        {% image page.banner original as bg_img %}
        {% firstof bg_img.url as banner_url %}
    {% else %}
        {% static 'images/service-missing-banner.png' as banner_url %}
    {% endif %}
    <div class="service_banner" style="background-image: url({{ banner_url }});">
        {% include "cms/breadcrumb.html" %}
        <div class="fr-container fr-pb-0w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-6 fr-col-xl-9">
                    <h1 class="fr-mt-0w fr-mb-1w">{{ page.beta_name }}</h1>
                    <p class="fr-mb-7w">{{ page.beta_pitch }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6 fr-py-3w">
                <h2 class="fr-my-3w">Le problème</h2>
                <p class="fr-pr-8w">{{ page.beta_problem|markdownify|linebreaksbr }}</p>
            </div>
            <div class="fr-col-12 fr-col-md-6 fr-py-3w">
                <h2 class="fr-my-3w">Notre service</h2>
                <p class="fr-pr-8w">{{ page.beta_service|markdownify|linebreaksbr }}</p>
                {% if page.beta_link %}
                    <a title="Accéder à {{ page.beta_name }} - ouvre une nouvelle fenêtre"
                    href="{{ page.beta_link }}"
                    target="_blank"
                    rel="noopener"
                    class="fr-link">Accéder à {{ page.beta_name }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% for block in page.body %}
        {% if block.block_type == 'paragraph' %}
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">{{ block.value|richtext }}</div>
                </div>
            </div>
        {% elif block.block_type == 'imageandtext' %}
            {% include "cms/blocks/imageandtext.html" %}
        {% elif block.block_type == 'textandimage' %}
            {% include "cms/blocks/textandimage.html" %}
        {% elif block.block_type == 'image' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">{% include "cms/blocks/image.html"  %}</div>
                </div>
            </div>
        {% elif block.block_type == 'alert' %}
            {% include "cms/blocks/alert.html"  %}
        {% elif block.block_type == 'callout' %}
            {% include "cms/blocks/callout.html"  %}
        {% elif block.block_type == 'quote' %}
            <div class="fr-background-alt--blue-france fr-my-6w fr-py-6w">
                <div class="fr-container">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-8 fr-col-offset-2">{% include "cms/blocks/quote.html"  %}</div>
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'video' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">{% include "cms/blocks/video.html"  %}</div>
                </div>
            </div>
        {% elif block.block_type == 'multicolumns' %}
            {% include "cms/blocks/multicolumns.html"  %}
        {% elif block.block_type == 'faq' %}
            {% include "cms/blocks/faq.html" with faq_id=forloop.counter0 %}
        {% elif block.block_type == 'stepper' %}
            {% include "cms/blocks/stepper.html" %}
        {% endif %}
    {% endfor %}
    {% include "cms/blocks/contact.html" %}
{% endblock content %}
