{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags markdownify %}
{% block title %}
    <title>{{ page.seo_title|default:page.title }} — La plateforme de l'inclusion</title>
{% endblock title %}
{% if page.search_description %}
    {% block description %}
        <meta name="description" content="{{ page.search_description }}" />
    {% endblock description %}
{% endif %}
{% block content %}
    <div class="fr-container fr-py-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12">
                {% include "services/includes/phase_badge.html" with beta_last_phase=page.beta_last_phase %}
                <h1 class="fr-mt-1w">{{ page.beta_name }}</h1>
                <p class="fr-my-2w">{{ page.beta_pitch }}</p>
            </div>
        </div>
    </div>
    <div style="background: #f5f5fe;">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-6 fr-py-3w">
                    <h2 class="fr-my-3w">Le problème</h2>
                    <p class="fr-pr-8w">{{ page.beta_problem|markdownify|linebreaksbr }}</p>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-py-3w">
                    <h2 class="fr-my-3w">Notre service</h2>
                    <p class="fr-pr-8w">{{ page.beta_service|markdownify|linebreaksbr }}</p>
                    {% if page.beta_link %}
                        <a title="Accéder à {{ page.beta_name }} - ouvre une nouvelle fenêtre"
                        href="{{ page.beta_link }}"
                        target="_blank"
                        rel="noopener"
                        class="fr-link">Accéder à {{ page.beta_name }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% for block in page.body %}
        {% if block.block_type == 'paragraph' %}
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">{{ block.value|richtext }}</div>
                </div>
            </div>
        {% elif block.block_type == 'imageandtext' %}
            {% include "cms/blocks/imageandtext.html" %}
        {% elif block.block_type == 'textandimage' %}
            {% include "cms/blocks/textandimage.html" %}
        {% elif block.block_type == 'image' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">{% include "cms/blocks/image.html"  %}</div>
                </div>
            </div>
        {% elif block.block_type == 'alert' %}
            {% include "cms/blocks/alert.html"  %}
        {% elif block.block_type == 'callout' %}
            {% include "cms/blocks/callout.html"  %}
        {% elif block.block_type == 'quote' %}
            <div class="fr-background-alt--blue-france fr-my-6w fr-py-6w">
                <div class="fr-container">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-8 fr-col-offset-2">{% include "cms/blocks/quote.html"  %}</div>
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'video' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">{% include "cms/blocks/video.html"  %}</div>
                </div>
            </div>
        {% elif block.block_type == 'multicolumns' %}
            {% include "cms/blocks/multicolumns.html"  %}
        {% elif block.block_type == 'faq' %}
            {% include "cms/blocks/faq.html" with faq_id=forloop.counter0 %}
        {% elif block.block_type == 'stepper' %}
            {% include "cms/blocks/stepper.html" %}
        {% endif %}
    {% endfor %}
    <div class="fr-container fr-py-9w fr-my-12w"
         style="background-color:var(--background-alt-grey)">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0">
                <img src="{% static 'artwork/contact.svg' %}"
                     class="fr-responsive-img"
                     alt=""/>
            </div>
            <div class="fr-col-12 fr-col-md-5 fr-col-offset-md-1 fr-px-6w fr-py-3w fr-px-md-0 fr-py-0">
                <h2>Contactez nous</h2>
                <p>Remplissez ce formulaire et nous vous répondrons dans les plus brefs délais !</p>
                <a class="fr-btn fr-btn--primary fr-btn--lg"
                   href="https://tally.so/r/n0VqyP"
                   target="_blank">Nous contacter</a>
            </div>
        </div>
    </div>
{% endblock content %}
